<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="https://www.google.com"> Inicio </a>
        </li>
        <li>
          <a href="http://google.com"> Quienes somos </a>
        </li>
        <li>
          <a href="https://www.google.com"> Licenses </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      <a>Copyright</a>
      &copy; {{ test | date : "yyyy" }}
      <a> LPDT Solutions. Todos los derechos reservados</a>
    </div>
  </div>
</footer>
